*{
    margin: 0;
    padding: 2px;
}
.main-background{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://placehold.co/600x1200.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
    display: flex;
}
.main-text{
    margin: 10px;

}
.nav{
    width: 1200px;
    height: 75px;
    margin:auto;
    
}
.icon{
    width: 200px;
    float: right;
    height: 70px;
    border-radius: 10px;    



}
