*{
    margin: 0;
    padding: 2px;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://placehold.co/600x600.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.nav{
    width: 1200px;
    height: 75px;
    margin:auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: blue;
    font-size: 35px;
    font-family: sans-serif;
    float:left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 100px;
    /* widthxheight is alloted space but will not change text ect */
    padding-right: 110px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style:none; /*aka how they list out design wise ex circle is bullet points*/
    margin-left: 40px; /*space from*/
    margin-top: 20px;
    font-size: 16px;
    font-family: sans-serif;
}
ul li a{
    text-decoration:none;
    color: aqua;
    font-family: sans-serif;
    font-weight: bolder;
    /*transition: 0.4s ease-in-out;*/
}
ul li a:hover{
    color: blueviolet;
}
.search{
    width: 330px;
    float:inline-end;
    margin-top: 70px;
}
.srch{
    font-family: Arial;
    float:right;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid blue;
    color: antiquewhite;
    font-size: 16px;
    padding: 10px;
    margin-right: 500px;
    margin-top: 50px;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: blanchedalmond;
    border: 1px;
    margin-top: 10px;
    color: aqua;
    font-size: 16px;
}
.content{
    width: 700px;
    color: aliceblue;
    font-size: 32px;
}
.shop{
    width: 50px;
    color: violet;
    font-size: 28px;
    background: transparent;
    border:transparent ;
}