*{
    margin: 0;
    padding: 2px;
}
.main{
    margin-top: 50%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://placehold.co/600x1200.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.nav{
    width: 1200px;
    height: 75px;
    margin:auto;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}
.logo{
    color: blue;
    font-size: 35px;
    font-family: sans-serif;
    float:left;
    padding-top: 5px;

    
}
.menu{
    width: 300px;
    float: left;
    height: 60px;
    /* widthxheight is alloted space but will not change text ect */
    padding-right: 110px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style:none; /*aka how they list out design wise ex circle is bullet points*/
    margin-left: 40px; /*space from*/
    margin-top: 20px;
    font-size: 16px;
    font-family: sans-serif;
}
ul li a{
    text-decoration:none;
    color: aqua;
    font-family: sans-serif;
    font-weight: bolder;
    /*transition: 0.4s ease-in-out;*/
}
ul li a:hover{
    color: blueviolet;
}
.search{
    width: 100px;
}
.srch{
    font-family: Arial;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid blue;
    font-size: 16px;

}

.btn{
    width: 100px;
    height: 40px;
    background-color: blanchedalmond;
    border: 1px;
    color: aqua;
    font-size: 16px;
}

.content{
    width: 700px;
    color: aliceblue;
    font-size: 32px;
    margin-top: 20px;
    
}
.content .shop {
    width: 100px;
    height: 40px;
    background: violet;
    font-size: 28px;
    cursor: pointer;
    transition: .4 ease;
}
.content .shop a{
    color: brown;
    text-decoration: none;
    transition: .3s ease;
}
.shop:hover{
    background-color: azure;
}
.login{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 25px;
    color: yellow;
}